.wrapper {

  width: 100%;
  height: 450px;
  margin: 0 auto 0 auto;
  padding: 20px 0 30px 0;
  text-align: center;
  /* KC */
  background: linear-gradient(
    to right,
    #3f5efb,
    #fc566c    
  )
}
.dice-area {
  margin: 20px;
  text-align: center;
  display: inline-block;
}
img {
  width: 100px;
  margin: 0;
}
#result {
	font-size: xx-large;
}
#Dice_a_result {
  margin: 20px;
}