@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}
body {
  margin: 0;
  padding: 10px;
  font-family: "Poppins";
  background: var(--secondary);
}
* {
  color: #fff;
  margin: 0;
  padding: 0;
}

.btn {
  background: var(--primary);
  width: 90%;
	margin: 10px auto 10px auto;
  padding: 5px;
	display: block;
	font-size: larger;
  font-family: cursive;
  font-weight: bold;
}

/* navbar */
header nav {
  display: flex;
  gap: 15px;
  justify-content: end;
  max-width: 1200px;
  margin: 0;
}
header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}
header nav a{
  text-decoration: none;
  padding: 0px;
  border-radius: 4px;
  font-size: x-large;
}
header nav a.active {
  background: var(--primary);
}


